/********** GENERAL ***********/
body {
    font-family: 'Lato', sans-serif;
    color: #90A4AE;
}

/********** HEADER CSS ***********/
.md-theme-dave {
    background-color: #1565C0 !important;
}
.nav-bar {
    height: 64px;
}

.nav-bar a {
    padding-top: 19px;
}

.menu-button {
    text-transform: none;
    font-weight: 400;
}

.mobile-menu {
    float: right;
    margin-right: 20px;
}

/********** FOOTER CSS ***********/

/********** HOME CSS ***********/
.page-intro, .skills-section {
    background-color: #0D47A1;
}

.page-intro {
    border-bottom: 2px solid #455A64;
}

.skills-section {
    border-top: 2px solid #455A64;
}

.intro-text h1 {
    padding: 50px 0 20px 0;
    font-size: 48px;
}

.intro-text p, .section-header h2 {
    padding: 30px 0;
    font-size: 28px;
}

.intro-text h1, .intro-text p {
    color: #FFF;
    font-weight: 400;
}

.intro-text h1, .intro-text p, .section-header h2 {
    margin: 0;
    text-align: center;
}

.section-header h2 {
    color: #90A4AE;
    font-weight: 300;
}
.portrait {
    text-align: center;
}

.about-image {
    border-radius: 100%;
    width: 250px;
}

.about-banner {
    padding-bottom: 35px;
}

.about-description {
    padding: 0 20px;
    text-align: center;
}

.skill-card-section {
    padding-top: 10px;
}

.skills-cards {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0px 5px;
}

.skills-cards .skill-card {
    background-color: #e8e8e8;
    border-radius: 100%;
}

.skill {
    padding-bottom: 30px;
}

.skill-card {
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
}

.skill-card img {
    width: 160px;
    margin: 20px 0 0 20px;
}

.md-title {
    font-size: 20px;
    padding: 20px 0 10px 0;
}

.skill-details h2, .skill-details p {
    font-weight: 300;
    margin: 5px;
}

@media (max-width: 900px) {

    .about-image {
        margin: 0 auto;
    }

    .about-description {
        padding: 0 10px;
    }
}

/********** EXPERIENCE CSS ***********/

/********** PORTFOLIO CSS ***********/

/* TAB SECTION */
.tabsdemoStaticTabs .sample {
    height: 450px;
}

/* TAB ONE */
.tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5;
}

/* TAB TWO */
.tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7;
}

/* TAB THREE */
.tabsdemoStaticTabs #tab3-content {
    background-color: #00796B;
}

/* TABS MENU COLOUR */
.tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important;
}

/* TAB CONTAINER */
.tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 300px;
    overflow: hidden;
}

/* TAB CONTAINER CONTENT */
.tabsdemoStaticTabs .tabpanel-container .tabpanel {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
}

/* TAB FONT COLOUR */
.tabsdemoStaticTabs md-tab {
    color: #90caf9 !important;
}

/* ACTIVE TAB */
.tabsdemoStaticTabs md-tab.active {
    color: white !important;
}

/* TABS BORDER BAR */
.tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: black !important;
}

/********** CONTACT CSS ***********/

